.App {
  text-align: center;
}

.menu {
  background-color: #fac241;
  height: 50px;
}

.tab {
  margin:15px;
}

.note{
  padding: 40px 0 45px 0;
  background: #4a4a4a;
  color: #ababab;
  text-align:center;
}

.media-body{
  margin:5px;
}

.content{
  padding:5px;
}

.judul{
  text-align:center;
}


.gambarisi{
  text-align:center;
}

.contributor{
  text-align:center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.top-0 {
  top: 0px !important;
}

.text-align-center {
  text-align: center;
}

.margin-top-0 {
  margin-top: 0 !important;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px !important;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-40 {
  margin-top: 40px !important;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-60 {
  margin-top: 60px;
}

.margin-top-70 {
  margin-top: 70px;
}

.margin-top-80 {
  margin-top: 80px;
}

.margin-top-90 {
  margin-top: 90px;
}

.margin-top-100 {
  margin-top: 100px;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-bottom-10 {
  margin-bottom: 10px !important
}

.margin-bottom-20 {
  margin-bottom: 20px !important
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-bottom-40 {
  margin-bottom: 40px !important
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.margin-bottom-60 {
  margin-bottom: 60px;
}

.margin-bottom-70 {
  margin-bottom: 70px;
}

.margin-bottom-80 {
  margin-bottom: 80px;
}

.margin-bottom-90 {
  margin-bottom: 90px;
}

.margin-bottom-100 {
  margin-bottom: 100px;
}

.margin-left-5 {
  margin-left: 5px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-left-20 {
  margin-left: 20px;
}

.margin-left-30 {
  margin-left: 30px;
}

.margin-left-40 {
  margin-left: 40px;
}

.margin-left-50 {
  margin-left: 50px;
}

.margin-left-60 {
  margin-left: 60px;
}

.margin-left-70 {
  margin-left: 70px;
}

.margin-left-80 {
  margin-left: 80px;
}

.margin-left-90 {
  margin-left: 90px;
}

.margin-left-100 {
  margin-left: 100px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-right-20 {
  margin-right: 20px;
}

.margin-right-30 {
  margin-right: 30px;
}

.margin-right-40 {
  margin-right: 40px;
}

.margin-right-50 {
  margin-right: 50px;
}

.margin-right-60 {
  margin-right: 60px;
}

.margin-right-70 {
  margin-right: 70px;
}

.margin-right-80 {
  margin-right: 80px;
}

.margin-right-90 {
  margin-right: 90px;
}

.margin-right-100 {
  margin-right: 100px;
}

.padding-left-5 {
  padding-left: 5px !important
}

.padding-left-10 {
  padding-left: 10px;
}

.padding-left-20 {
  padding-left: 20px;
}

.padding-left-30 {
  padding-left: 30px;
}

.padding-left-40 {
  padding-left: 40px;
}

.padding-left-50 {
  padding-left: 50px;
}

.padding-left-60 {
  padding-left: 60px;
}

.padding-left-70 {
  padding-left: 70px;
}

.padding-left-80 {
  padding-left: 80px;
}

.padding-left-90 {
  padding-left: 90px;
}

.padding-left-100 {
  padding-left: 100px;
}

.text-right {
  text-align: float
}

.width-full {
  width: 100%
}

.right {
  float: right;
}

.left {
  float: left;
}

.width_150 {
  width: 150px;
}

.grey {
  background-color: #f1f1f1;
}

.border_radius {
  border-radius: 15px!important;
}

.text-grey {
  color: #bababa;
}

.text-black {
  color: black;
}

.text-green {
  color: #6aaa5e
}

.text-blue {
  color: #347ec0 !important;
}

.text-orange {
  color: orange !important;
}

.text-white {
  color: white
}

.text-red {
  color: #d05a4c
}

.text-aqua {
  color: #59b9e9
}

.text-yellow {
  color: #fac958
}

.border-bottom-orange {
  border-bottom: 3px solid orange;
  margin-left: -20px;
  padding-top: 15px;
  width: 84% !important;
}

.text-bold {
  font-weight: bold !important;
}

.border-bottom-blue {
  border-bottom: 3px solid #347ec0;
  margin-left: -20px;
  padding-top: 15px;
  width: 84% !important;
}

.border-bottom-green {
  border-bottom: 3px solid #6aaa5e;
  margin-left: -20px;
  padding-top: 15px;
  width: 84% !important;
}

.btn.btn_blue {
  border: none;
  color: #337ab7;
  font-weight: semibold;
  font-weight: 500;
  margin-left: 15px;
}

.btn.btn_green {
  border: none;
  color: #6aaa5e;
  font-weight: semibold;
  font-weight: 500;
  margin-left: 15px;
}

.navbar-default {
  background-color: #fac241 !important;
  border-color: #fac241 !important;
  margin-left: -65px !important;
  margin-right: -65px !important;
  border: none !important;
  border-radius: 0 !important;
  padding-left: 35px !important;
  padding-right: 55px !important;
}

.navbar-nav>li>a {
  padding-left: 10px !important;
}

.clr_orange {
  background-color: #fac241 !important;
  border: none !important;
}

.font_20 {
  font-size: 20px;
}

.border-right-white {
  border-right: 2px solid white;
}

.chevron-grey {
  color: white;
  background-color: #4a4a4a;
  text-align: center;
  /* top: 10px; */
  padding-top: 15px !important;
}

.cursor {
  cursor: pointer
}

.btn-green {
  color: white;
  background-color: #62a555;
  border-radius: 0 !important;
}

.btn-radius {
  border-radius: 17px !important;
  margin-top: 5px !important;
  height: 25px !important;
  padding-top: 1px !important;
}

.btn-small {
  margin-top: 5px !important;
  height: 25px !important;
  padding-top: 1px !important;
}

.icon-soccer {
  border: none !important;
  padding-top: 3px !important;
  padding-bottom: 0px !important;
  padding-left: 31px !important;
  float: left !important;
}

.navbar-nav {
  text-align: center !important;
}

.text-clr-green {
  color: #62a555 !important;
  background-color: #f5f5f5 !important;
}

.border-none {
  border: none !important;
}

.body {
  margin-right: 30px !important;
  margin-left: 30px !important;
}

.glyphicon {
  top: 3px !important;
}

.news-paper {
  width: 272px !important;
  height: 150px;
  box-shadow: 0px 0px 5px 5px #f5f5f5;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 5px;
}

.font-size-12 {
  font-size: 12px
}

.font-size-14 {
  font-size: 14px
}

.border-full {
  border: 1px solid #dfdfdf;
}

.footer {
  padding: 40px 0 45px 0;
  background: #4a4a4a;
  color: #ababab;
}

footer-copyright {
  padding-top: 15px;
}

.row {
  margin-right: 40px;
  margin-left: 40px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  color: #347ec0;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid transparent !important;
  border-bottom: 3px solid #347dc0 !important;
  border-bottom-color: #347dc0 !important;
  padding-left: 0px;
  padding-right: 0px;
}

.border-bottom-red {
  border-bottom: 3px solid #d05a4c;
  margin-left: 108px;
  padding-top: 15px;
  width: 82.5% !important;
  margin-top: -22px;
}

.border-bottom-aqua {
  border-bottom: 3px solid #59b9e9;
  margin-left: 82px;
  padding-top: 15px;
  width: 80% !important;
  margin-top: -22px;
}

.border-bottom-yellow {
  border-bottom: 3px solid #fac958;
  margin-left: 175px;
  padding-top: 27px;
  width: 59% !important;
  /* margin-top: -22px; */
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.btn.btn-border-yellow {
  border: 1px solid #fac958;
  width: 100px
}

.border-bottom {
  border-bottom: 1px solid #bababa;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  color: #347ec0 !important
}

.carousel-indicators li {
  border: 1px solid orange !important;
  border-radius: 10px;
}

.carousel-indicators .active {
  background-color: orange !important;
}

@media screen and (max-width: 768px) {
  .carousel-indicators {
      bottom: -30px !important;
  }
  .display-none {
      display: none !important;
  }
  .border-bottom-orange {
      border-bottom: 3px solid orange;
      margin-left: 160px !important;
      padding-top: 15px !important;
      width: 54% !important;
      margin-top: -31px !important;
  }
  .news-paper {
      margin-left: 40px !important;
  }
  .btn-middle {
      left: 25.5% !important;
  }
  .text-md {
      text-align: center;
  }
  .margin-left-145 {
      margin-left: 0px !important;
  }
  @media screen and (min-width: 768px) {}
  .carousel-indicators {
      bottom: -30px !important;
  }
}

.margin-left-145 {
  margin-left: 145px;
}

.btn-middle {
  position: absolute;
  left: 38.5%;
}

.carousel-indicators {
  bottom: -25px !important;
  left: 49% !important;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: inherit !important;
}

.carousel-control {
  overflow: hidden !important
}

.btn.border-blue {
  border: 1px solid #6ac2eb;
}

.btn.border-green {
  border: 1px solid #6aaa5e;
}
